<!DOCTYPE html>
<html>

<head>
	<title>quarkgammon | About</title>
</head>

<body>	
<h1>Sample App</h1>
<p>This is the About Page.</p>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<a href="/">Back to Rails Intro Screen</a>



</body>

</html>